/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS RESET */

@font-face {
  font-family: fancy;
  src: url(../assets/fonts/HomemadeApple-Regular.ttf);
}

body {
  overflow: hidden;
}

.container {
  --header-colour: #9ae1e2;
  --sidebar-colour: #f2a7be;
  --content-colour: #fff;
  --item-title-colour: #ec6091;
  --item-content-colour: #da2864;

  display: grid;
  grid-template-columns: 1fr 6fr;
}

.header {
  grid-column: 1 / 3;
  display: flex;
  height: 115px;
  justify-content: center;
  align-items: center;

  background-color: var(--header-colour);
}

.cat-logo {
  height: 140px;

  position: absolute;
  left: 20px;
}

.title {
  font-family: fancy;
  font-size: 60px;

  margin-top: 13px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  background-color: var(--sidebar-colour);
}

.sidebar > div {
  position: relative;
  transform: translateY(-33%);
  top: 33%;

  font-family: fancy;
  text-align: center;
  font-size: large;
}

.btn {
  position: relative;
  transform: translateY(-33%);
  top: 35%;

  background-color: var(--item-title-colour);
  border-radius: 11px;
  border: 1px solid var(--item-content-colour);
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 23px;
  text-decoration: none;
}

.btn:active {
  background-color: var(--item-content-colour);
}

.content {
  width: 100%;
  height: 100%;
  display: flex;

  background-color: var(--content-colour);
}

.form {
  position: absolute;
  left: 15%;
  top: 35%;

  border: 1px solid var(--item-content-colour);
  border-radius: 11px;
  background-color: var(--sidebar-colour);
  padding: 20px;

  font-size: large;
}

.x {
  position: absolute;
  top: 5px;
  right: 5px;

  font-weight: bolder;
  background-color: #ffffff00;
  border: none;
}

.form div {
  margin-top: 10px;
}

.nameContainer {
  display: flex;
  flex-direction: column;
}

.peanutButter {
  display: flex;
  flex-direction: column;
}

#description {
  height: 150px;
  resize: none;
}

.priorityContainer {
  display: flex;
  flex-direction: row;
}

.label-priority {
  margin-right: 25px;
}

.Add {
  margin-top: 8px;
}

.module {
  width: auto;
  height: auto;

  display: flex;
  flex-direction: column;
}
